{% extends 'base.html.twig' %}

{% block title %}Boulangerie nº {{ bakery.id }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-uppercase">Détails {{ bakery.name }} - id nº {{bakery.id}}</h1>

        {{ include('backoffice/bakery/_delete_form.html.twig') }}

        <a class="btn btn-outline-light text-uppercase mb-2" href="{{ path('app_backoffice_bakery_read') }}">Retour à la liste</a>

        <a class="btn btn-outline-light text-uppercase mb-2" href="{{ path('app_backoffice_bakery_update', {'id': bakery.id}) }}">Mettre à jour</a>

        <table class="table table-dark table-striped">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ bakery.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ bakery.name }}</td>
                </tr>
                <tr>
                    <th>Utilisateur Associé</th>
                    <td>{{ bakery.user.name }}</td>
                </tr>
                <tr>
                    <th>Ville</th>
                    <td>{{ bakery.address }}</td>
                </tr>
                <tr>
                    <th>Photo de la boutique</th>
                    <td><img class="backoffice_images" src="{{ bakery.profileImg }}"</td>
                </tr>
                <tr>
                    <th>Numéro de téléphone</th>
                    <td>{{ bakery.phoneNumber }}</td>
                </tr>
                <tr>
                    <th>Note</th>
                    <td>{{ bakery.rating }}</td>
                </tr>
                <tr>
                    <th>Statut</th>
                    <td>{{ bakery.status }}</td>
                </tr>
                <tr>
                    <th>Frais de Livraison</th>
                    <td>{{ bakery.deliveryFees }}</td>
                </tr>
                <tr>
                    <th>Délai de Livraison</th>
                    <td>{{ bakery.deliveryTime }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
