{% extends 'base.html.twig' %}

{% block title %}Mise à jour Boulangerie{% endblock %}

{% block body %}
    <h1 class="text-uppercase">Mise à jour Boulangerie {{ bakery.name }} - id nº {{ bakery.id }}</h1>

    <a class="btn btn-outline-light text-uppercase mb-2" href="{{ path('app_backoffice_bakery_read') }}">Retour à la liste</a>

    {{ include('backoffice/bakery/_delete_form.html.twig') }}
    
    {{ include('backoffice/bakery/_form.html.twig', {'button_label': 'Valider'}) }}

{% endblock %}
